<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

#logo {
    margin:  0 auto;
    width: 100px;
    position: relative; top: 20px;
}

.signout {
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: #fff;
    border: 1px solid <%= HtmlDesign.dim4 %>;
}

.signout .message {
    line-height: 1.5em;
}