<%@include file="../../../setup.jsp" %>
<%@page contentType="text/css" %>

#share_canvas {
}

#share_something {
    background-color: #fff;
    width: 588px;
    margin-bottom: 7px;
    padding: 15px 0 0 10px;
    border-right: 2px #bbb solid;
    border-bottom: 2px #bbb solid;
    position: relative;
}

#share_something #tell_me {
    width: 500px;
    border: none;
    font-size: 14px;
    height: 60px;
    position: relative;
    left: 10px;
}

#share_something .arrow_box {
    position: relative;
    background: #ffffff;
    border: 4px solid <%= HtmlDesign.highlight %>;
    padding: 5px;
    width: 560px;

}

#share_something .arrow_box:after,
#share_something .arrow_box:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#share_something .arrow_box:after {
    border-top-color: #fff;
    border-width: 15px;
    left: 10%;
    margin-left: -15px;
}

#share_something .arrow_box:before {
    border-top-color: green;
    border-width: 17px;
    left: 10%;
    margin-left: -17px;
}

#share_something .share_tools {
    margin-top: 20px;
    display: inline-block;
    width: 550px;
}


#share_something .share_tools .me {
    margin-left: 35px;
    float: left;
    height: 40px;
    width: 40px;
    padding: 5px;
}

#share_something .share_tools .share_error {
    margin-right: 10px;
    padding: 5px;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    display: none;
    float: right;
}

#share_something .share_tools .share_loading {
    margin-left: 10px;
    float: right;
    position: relative;
    top: -2px;
    left: -10px;
    display: none;
}

#share_something .share_tools .share_it {
    float: right;
    width: 100px;
}






/* Shared Item */
.shared_item_box {
    background-color: #fff;
    width: 593px;
    display: inline-block;
    padding: 5px 0 5px 5px;
    border-right: 2px #bbb solid;
    border-bottom: 2px #bbb solid;
    margin-bottom: 5px;
}

.shared_item_box > .left {
    float: left;
}

.shared_item_box > .right {
    float: left;
    margin-left: 10px;
    width: 510px;
}

.shared_item_box > .right > .top {
    margin: 2px 0 0 0;
    width: 100%;
}

.shared_item_box > .right > .top .in {
    margin-right: 2px;
}

.shared_item_box > .right > .top .delete {
    float: right;
}

.shared_item_box > .right > .content {
    display: inline-block;

}

.shared_item_box > .right > .content .box {
    float: left;
    width: 450px;
    position: relative;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.shared_item_box > .right > .content .ago {
    margin-right: 5px;
    float: left;
}

.shared_item_box > .comments {
    margin-top: 20px;
}

.shared_item_box > .right .add_comment {
    width: 510px;
    margin-top: 10px;
}

.shared_item_box > .right .add_comment > .top {
    display: block;
    position: relative;
}

.shared_item_box > .right .add_comment > .top .error {
    margin-left: 25px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    display: none;
    width: 200px;
}

.shared_item_box  > .right .add_comment > .top .loading {
    display: none;
    position: absolute;
    top: 10px;
}

.shared_item_box  > .right .add_comment > .left {
    margin: 0 5px 0 25px;
    padding: 0;
    float: left;
}

.shared_item_box > .right .add_comment > .left .face img {
    width: 30px;
    height: 30px;
}

.shared_item_box  > .right .add_comment > .right {
    float: left;
    width: 400px;
    margin-left: 10px;
}

.shared_item_box  > .right .add_comment > .right .box {
    padding: 2px;
    width: 250px;
    border: 1px solid #bbb;
}

.shared_item_box  > .right .add_comment > .right .box .tell_me {
    border: none;
    font-size: 12px;
    width: 240px;
    height: 30px;
}


/* Shared item line */
.shared_item_line {
    width: 580px;
    display: inline-block;
    padding: 5px 0 5px 5px;
    border-bottom: 1px #bbb solid;
}

.shared_item_line > .left {
    float: left;
}

.shared_item_line > .right {
    float: left;
    margin-left: 10px;
    width: 510px;
}

.shared_item_line > .right > .top {
    display: inline-block;
    margin: 2px 0 0 0;
    width: 485px;
}

.shared_item_line > .right > .top .in {
    margin-right: 2px;
}

.shared_item_line > .right .content {
    display: inline-block;
}

.shared_item_line > .right .content .box {
    float: left;
    width: 450px;
    position: relative;
    background: #fff;
    padding: 2px 0;
    line-height: 1.5em;
}

.shared_item_line > .right .ago {
    margin-right: 10px;
    float: left;
}







/* Shared comment */
.shared_comment {
    margin-top: 10px;
    display: inline-block;
    width: 500px;
}

.shared_comment  > .left {
    margin-top: -4px;
    padding: 0;
    float: left;
}

.shared_comment  > .right {
    width: 420px;
    margin-left: 10px;
    float: left;
}

.shared_comment  > .right .box {
    width: 350px;
}

.shared_comment  > .right  .delete {
    float: right;
}

.shared_comment  > .right .ago {
    margin-right: 5px;
}

.shared_comment  > .right .bottom {
    margin-top: 5px;
}


/* Shared Votes */
.shared_vote {
    margin-left: 5px;
    display: inline-block;
}

.shared_vote .do_vote {
    display: inline-block;
}