<%@include file="../../../all.jsp" %>
<%@page contentType="text/css" %>

#share_canvas {
    /*padding: 5px;*/
}

#share_something {
    background-color: #fff;
    width: 588px;
    margin-bottom: 7px;
    padding: 15px 0 0 10px;
    border-right: 2px #bbb solid;
    border-bottom: 2px #bbb solid;
}

#share_something #tell_me {
    width: 500px;
    border: none;
    font-size: 14px;
    height: 30px;
    position: relative;
    left: 10px;
}

#share_something .arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid green;
    padding: 5px;
    width: 560px;

}

#share_something .arrow_box:after,
#share_something .arrow_box:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#share_something .arrow_box:after {
    border-top-color: #fff;
    border-width: 15px;
    left: 10%;
    margin-left: -15px;
}

#share_something .arrow_box:before {
    border-top-color: green;
    border-width: 17px;
    left: 10%;
    margin-left: -17px;
}

#share_something .share_population {
    display: inline-block;
    margin-top: 15px;
    width: 550px;
}

#share_something .share_tools {
    display: inline-block;
    width: 550px;
}


#share_something .share_population .me {
    margin-left: 20px;
    float: left;
    height: 60px;
    width: 60px;
    padding: 5px;
}

#share_something .share_population .share_with {
    width: 70px;
    text-align: center;
    float: left;
    padding: 10px 5px 5px 5px;
}

#share_something .share_population .share_others {
    float: left;
    width: 370px;
    display: inline-block;

}

#share_something .share_population .share_others .more {
    padding: 8px;
    font-style: italic;
    float: left;
    line-height: 1.5em;
}

#share_something .share_error {
    margin-right: 10px;
    padding: 5px;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    display: none;
    float: right;
}

#share_something .share_loading {
    margin-left: 10px;
    float: right;
    position: relative;
    top: -2px;
    left: -10px;
    display: none;
}

#share_something .share_it {
    float: right;
    width: 100px;
    position: relative;
    top: -10px;
}






/* Shared Item */
.shared_item {
    background-color: #fff;
    width: 593px;
    display: inline-block;
    padding: 5px 0 5px 5px;
    border-right: 2px #bbb solid;
    border-bottom: 2px #bbb solid;
    margin-bottom: 5px;
}

.shared_item .left {
    float: left;
    margin-top: 20px;
}

.shared_item .right {
    float: left;
    margin-left: 10px;
}

.shared_item .right .top {
    display: inline-block;
    margin: 2px 0 0 0;
    width: 485px;
}

.shared_item .right .top .in {
    margin-right: 2px;
}

.shared_item .right .top .ago {
    margin-left: 5px;
}

.shared_item .right .top .delete {
    float: right;
}

.shared_item .right .content {
    display: inline-block;
}

.shared_item .right .content .box {
    float: left;
    width: 450px;
    position: relative;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.shared_item .right .content .votes {
    float: right;
}

.shared_item .right .content .votes .vote_item img {
    width: 20px;
    height: 10px;
}

.shared_item .right .content .votes .vote_count {
    text-align: center;
}

.shared_item .comments {
    margin-top: 5px;
}




/* Shared Item Add Comment */
.shared_item .add_comment {
    width: 510px;
}

.shared_item .add_comment_top {
    display: block;
    position: relative;
}

.shared_item .add_comment .add_comment_top .error {
    margin-left: 25px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    display: none;
    width: 200px;
}

.shared_item .add_comment .add_comment_top .loading {
    display: none;
    position: absolute;
    top: 10px;
}

.shared_item .add_comment .left {
    margin: 0 5px 0 25px;
    padding: 0;
    float: left;
}

.shared_item .add_comment .left .face img {
    width: 30px;
    height: 30px;
}

.shared_item .add_comment .right {
    float: left;
    width: 400px;
    margin-left: 10px;
}

.shared_item .add_comment .right .box {
    padding: 2px;
    width: 250px;
    border: 1px solid #bbb;
}

.shared_item .add_comment .right .box .tell_me {
    border: none;
    font-size: 12px;
    width: 240px;
    height: 15px;
}











/* Shared comment */
.shared_comment {
    margin-bottom: 2px;
    display: inline-block;
    width: 500px;
}

.shared_comment .left {
    margin-top: -4px;
    padding: 0;
    float: left;
}

.shared_comment .right {
    width: 420px;
    margin-left: 10px;
    float: left;
}

.shared_comment .right .box {
    padding: 0 5px 5px 5px;
    line-height: 1.5em;
}

.shared_comment .right .delete {
    float: right;
}

.shared_comment .right .ago {
    font-style: italic;
}