<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

body {
    margin: 0;
    padding: 0;
}

#status {
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

#outer-header {
    background-color: #ffffff;
}

#header {
    margin: 10px 0 5px 0;
    display: inline-block;
}

#logo {
    float: left;
}

#contact_details {
    float: left;
    margin: 5px 0 0 110px;
}


#shortcuts {
    float: right;
    padding: 0 4px 4px 4px;
    display: inline-block;
}

.shortcut {
    border-bottom: 2px solid <%= HtmlDesign.backgroundColor %>;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px 0 4px 0;
    vertical-align: bottom;
}

#shortcuts .active {
    border-bottom: 2px solid <%= HtmlDesign.highlight %>;
    color: <%= HtmlDesign.highlight %>;
}

.main-block {
    background-color: #777;
    padding: 40px 0;
}

.block {
}

.block .main {
    text-align: center;
    line-height: 1.6em;
    text-shadow: 2px 2px #444;
}

.block .sub {
    text-shadow: 2px 2px #444;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    line-height: 1.5em;
}

.statement {
    margin-top: 25px;
    margin-bottom: 10px;
}

.statement .main {
    text-shadow: 2px 2px #ffffff;
    text-align: center;
    margin-bottom: 5px;
}

.statement .sub {
    text-align: center;
}

.attention {
    /*background-image: url('/d/welcome/img/attention-background.png');*/
    background-color: white;
    height: 300px;
    padding: 10px;
    border: solid 1px <%= HtmlDesign.dim3 %>;
    position: relative;
    top: -15px;
}


.attention .left {
    float: left;
    width: 550px;
    position: relative;
}

.attention .left span {
    padding: 8px 6px;
    background-color: <%= HtmlDesign.highlight3 %>;
}


.attention .right {
    float: right;
    padding: 5px;
    width: 250px;
    position: relative;
    line-height: 1.4em;
}


#playing-video {
    width: 500px;
    padding: 5px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

#benefit-video .sub {
    font-style: italic;
}

.contact {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

.or {
    font-family: adam;
    font-style: italic;
    margin: 10px auto;
    text-align: center;
    background-color: <%= HtmlDesign.dim2 %>;
    width: 30px;
    position: relative;
}

.actions {
    margin-top: 35px;
}

.actions .action {
    padding: 10px;
    background-color: #777;
    width: 220px;
    position: relative;
}

.actions .action .free {
    position: absolute;
    top: -30px;
    left: 140px;
    height: 60px;
}

.actions .action div {
    margin-bottom: 5px;
}


.features {
    position: relative;
    top: -20px;

}

.features .columns {
    display: inline-block;
}

.features .columns .column {
    float: left;
    width: 266px;
}

.features .feature-title {
    margin: 10px;
    padding: 15px 15px 5px 15px;
    background-color: white;
}

.features .out {
    position: relative;
    top: -2000px
}


.features .feature-title .title {
    text-align: center;
    margin-bottom: 5px;
}

.features .feature-title .desc {
    line-height: 1.5em;
}

.features .feature-title .img {
    margin: 5px auto;
    width: 128px;
}



