<%@include file="../../../setup.jsp" %>
<%@page contentType="text/css" %>

#tooltips {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 10;
}


.tooltip .title {
    position: absolute;
    top: -15px;
    left: 10px;
    border: 1px white solid;
    font-family: adam;
    padding: 5px 5px 2px 5px;
    background-color: #996633;
    z-index: 1;
    color: white;
}

.tooltip .box {
    padding: 15px;
    font-family: adam;
    color: #462217;
    text-shadow: 0px 2px 2px #eee;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.tooltip .tools {
    float: right;
    z-index: 11;
    position: relative;
    color: white;
}

.tooltip .tools .gotit {
    position: absolute;
    top: -15px;
    left: -40px;
    border: 2px white solid;
    font-family: adam;
    padding: 5px;
    background-color: green;
}



/* Tip bubbles */
.tip_bottom {
	position: relative;
	background: #fcfbb1;
	border: 4px solid #a48e61;
}
.tip_bottom:after, .tip_bottom:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tip_bottom:after {
	border-top-color: #fcfbb1;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
.tip_bottom:before {
	border-top-color: #a48e61;
	border-width: 26px;
	left: 50%;
	margin-left: -26px;
}




.tip_right {
	position: relative;
	background: #fcfbb1;
	border: 4px solid #a48e61;
}

.tip_right:after, .tip_right:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tip_right:after {
	border-left-color: #fcfbb1;
	border-width: 20px;
	top: 50%;
	margin-top: -20px;
}

.tip_right:before {
	border-left-color: #a48e61;
	border-width: 26px;
	top: 50%;
	margin-top: -26px;
}




.tip_top {
	position: relative;
	background: #fcfbb1;
	border: 4px solid #a48e61;
}
.tip_top:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tip_top:after {
	border-bottom-color: #fcfbb1;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
.tip_top:before {
	border-bottom-color: #a48e61;
	border-width: 26px;
	left: 50%;
	margin-left: -26px;
}




.tip_left {
	position: relative;
	background: #fcfbb1;
	border: 4px solid #a48e61;
}
.tip_left:after, .tip_left:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tip_left:after {
	border-right-color: #fcfbb1;
	border-width: 20px;
	top: 50%;
	margin-top: -20px;
}
.tip_left:before {
	border-right-color: #a48e61;
	border-width: 26px;
	top: 50%;
	margin-top: -26px;
}


.tip_none {
	position: relative;
	background: #fcfbb1;
	border: 4px solid #a48e61;
}


/* Minitips */
.minitip {
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    width: 574px;
    border: 4px solid <%= HtmlDesign.highlight5 %>;
    display: inline-block;
}

.minitip > .tip {
    float: left;
    font-family: adam;
}

.minitip > .content {
    float: left;
    width: 480px;
    padding: 0 10px;
    line-height: 1.5em;
}

.minitip > .close {
    float: right;
}
.minitip > .close img {
    padding: 10px;
}
