<%@include file="../../../setup.jsp" %>
<%@page contentType="text/css" %>


/* Mini tooltips -- these are the tiny pop-up tool tips */
.mini_tooltip  {
    display: none;
    position: relative;
    z-index: 1000;
}

.mini_tooltip_trigger {
    cursor: help;
}

.mini_tooltip_bubble {
    position: absolute;
    border: 4px solid <%= HtmlDesign.dim2 %>;
    background-color: <%= HtmlDesign.dim %>;
    padding: 10px;
    width: 200px;

}

.mini_tooltip_bubble .close {
    float: right;
}

.mini_tooltip_bubble .title {
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 200px;;

}

.mini_tooltip_bubble .message {
    line-height: 1.3em;
}


/* Minitips -- these are the small dialog windows that train new users */
.minitip {
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    width: 572px;
    border: 4px solid <%= HtmlDesign.highlight5 %>;
    display: inline-block;
}

.minitip > .tip {
    float: left;
    font-family: adam;
}

.minitip > .content {
    float: left;
    width: 480px;
    padding: 0 10px;
    line-height: 1.5em;
}

.minitip > .close {
    float: right;
}
.minitip > .close img {
    padding: 10px;
}