<%@include file="../../all.jsp" %>
<%@page contentType="text/css" %>

#create {
    margin-top: -15px;
}

#create .step {
    margin-bottom: 30px;
    background: white;
}

#create .step .header {
    padding: 10px 20px;
    line-height: 1.3em;
    background-color: <%= HtmlDesign.dim2 %>;
}


#create .step .generalities {
    padding: 20px 20px 40px 20px;
    width: 80%;
    margin: 0 auto;
}

#create .step .generalities .general {
    width: 100%;
    border-bottom: 2px dashed <%= HtmlDesign.dim4 %>;
    padding: 10px 0;
    display: inline-block;
}

#create .step .generalities .general .desc {
    float: left;
    width: 250px;
}

#create .step .generalities .general .big {
}

#create .step .generalities .general .desc .small {
    margin-top: 5px;
    line-height: 1.3em;
    margin-left: 10px;
}

#create .step .generalities .general .gather {
    float: right;
}

#create .step .generalities .general .gather .input {
    border: 1px solid <%= HtmlDesign.dim2 %>;
    display: inline-block;
}

#create .step .generalities .general .gather .feedback {
    margin: 5px auto;
    width: 200px;
}

#create .step .generalities .general .gather .feedback .good {
    background-color: <%= HtmlDesign.highlight %>;
    text-align: center;
    color: #fff;
    padding: 5px;
    display: none;
}

#create .step .generalities .general .gather textarea {
    height: 80px;
    width: 306px;
}






#create .step .qualities {
    padding: 20px 20px 40px 20px;
    width: 80%;
    margin: 0 auto;
}

#create .step .qualities .quality {
    width: 100%;
    padding: 5px 20px 20px 20px;
    display: inline-block;
    border-bottom: 2px dashed <%= HtmlDesign.dim4 %>;
    margin-bottom: 10px;
}


#create .step .qualities .quality .big {
    margin-bottom: 10px;
}

#create .step .qualities .quality .example {
    float: left;
    width: 270px;
}

#create .step .qualities .quality .title {
    font-family: adam;
    text-align: center;
    margin-bottom: 5px;
}

#create .step .qualities .quality .example .small {
    margin-top: 5px;
    line-height: 1.3em;
    margin-left: 10px;
    border-top: 1px dashed <%= HtmlDesign.dim2 %>;
    border-left: 1px dashed <%= HtmlDesign.dim2 %>;
    border-right: 1px dashed <%= HtmlDesign.dim2 %>;
}

#create .step .qualities .quality .example .small .line {
    border-bottom: 1px dashed <%= HtmlDesign.dim2 %>;
    padding: 2px 5px;
}

#create .step .qualities .quality .gather {
    float: right;
}


#create .step .qualities .quality .gather .input {
    border: 1px solid <%= HtmlDesign.dim2 %>;
    display: inline-block;
}

#create .step .qualities .quality .gather textarea {
    height: 80px;
    width: 306px;
}






#create #share  {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
    line-height: 1.5em;
    display: none;
}

#create #new_community  {
    margin: 10px auto;
    padding: 5px;
}

#create #create_error {
    margin: 10px auto;
    width: 500px;
    padding: 20px;
}

#create #create_loading  {
    width: 220px;
    margin: 10px auto;
    display: none;
}

#create .start {
    background: <%= HtmlDesign.highlight %>;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 4px solid white;
}

#add3, #add4, #add5 {
    margin-top: 10px;
}

