<%@include file="../setup.jsp" %>
<%@page contentType="text/css" %>

#main {
}


#header {
    height: 60px;
    margin-bottom: 15px;
    background-color: #8c8c80;
    border-bottom: solid 1px <%= HtmlDesign.dim3 %>;;
}


#header #logo {
    float: left;
    margin: 5px 60px 0 0;
}

#header #logo #default_logo {
    padding: 10px 10px 0 10px;
    background-color: <%= HtmlDesign.headerColor %>;
    border-right: 2px solid #fff;
    float: left;
    width: 158px;
    height: 40px;
}

#header #logo #custom_logo {
    display: none;
}

#header #logo #custom_logo img {
    height: 50px;
    width: 180px;
}


#header #dashboard {
    float: left;
    margin-right: 50px;
}

#header #user {
    margin-top: 5px;
    padding: 5px;
    background-color: #8c8c80;
    border-left: 2px solid #fff;
    width: 140px;
    float: left;
}

#header #user .face {
    float: left;
}

#header #user .details {
    float: left;
}

#header #user .detail {
    margin-bottom: 2px;
    position: relative;
}

#header #user #thumbnail img {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#header #user #name {
    padding: 8px;
}

#header .selected {
    padding: 5px 10px;
    background-color: #336699;
    color: #fff;
}

#left {
    width: 185px;
    float: left;
    margin-right: 50px;
}

#center {
    float: left;
}

#center #dashboard { position: relative; }
#center #canvas { }
#center #canvas_loading { display: none; }


/* No items message */
.canvas_mini_message {
    width: 100%;
}

.canvas_mini_message .container {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
}

.canvas_mini_message .container .content {
    margin: 0 auto;
    padding: 20px;


}

.canvas_mini_message .message {
    font-size: 20px;
    font-family: adam;
    text-align: center;
    line-height: 1.5em;
}

/* Error message */
.canvas_error {
    width: 100%;
}

.canvas_error .container {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
}

.canvas_error .container .content {
    margin: 0 auto;
    border: 2px dashed white;
    padding: 20px;

}

.canvas_error .message {
    font-size: 25px;
    font-family: adam;
    text-align: center;
    line-height: 1.5em;
    color: white;
}

/* Canvas loading */
.canvas_loading img {
    display: block;
    margin: 10px auto;
}




























