<%@include file="../../all.jsp" %>
<%@page contentType="text/css" %>

#main {
    margin: auto;
    width: 800px;
}


#header {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
    background-color: #8c8c80;
    border: 1px solid #bbb;
}


#header #logo {
    position: absolute;
    left: 0;
    top: 0;
}

#header #logo #default_logo {
    padding: 5px 10px 5px 10px;
    background-color: <%= HtmlDesign.headerColor %>;
    border-right: 2px solid #fff;
}

#header #logo #custom_logo {
    display: none;
}

#header #dashboard {
    float: left;
    position: absolute;
    left: 110px;
    top: 0;
}

#header .user {
    display: inline-block;
    float: right;
    padding: 5px 10px;
    background-color: #8c8c80;
    border-left: 2px solid #fff;
    width: 160px;
    position: relative;
    left: 5px;
    top: -5px;
}

#header .user .face {
    float: left;
}

#header .user .details {
    float: left;
}

#header .user .detail {
    margin-bottom: 2px;
}

#header .user #thumbnail img {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#header .user #name {
    /*float: right;*/
    padding: 8px;
}

#header .selected {
    padding: 5px 10px;
    background-color: #336699;
    color: #fff;
}








/* Center */
#center {
    width: 600px;
    float: left;
}

#center #dashboard { position: relative; }
#center #canvas { }
#center #canvas_loading { display: none; }


/* No items message */
.canvas_mini_message {
    width: 100%;
}

.canvas_mini_message .container {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
}

.canvas_mini_message .container .content {
    margin: 0 auto;
    border: 2px dashed <%= HtmlDesign.dim %>;
    padding: 20px;


}

.canvas_mini_message .message {
    font-size: 20px;
    font-family: adam;
    text-align: center;
    line-height: 1.5em;
}

/* Error message */
.canvas_error {
    width: 100%;
}

.canvas_error .container {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
}

.canvas_error .container .content {
    margin: 0 auto;
    border: 2px dashed white;
    padding: 20px;

}

.canvas_error .message {
    font-size: 25px;
    font-family: adam;
    text-align: center;
    line-height: 1.5em;
    color: white;
}

/* Canvas loading */
.canvas_loading img {
    display: block;
    margin: 10px auto;
}


.mini_tooltip  {
    display: none;
    position: relative;
    z-index: 1000;
}

.mini_tooltip_trigger {
    cursor: help;
}

.mini_tooltip_bubble {
    position: absolute;
    border: 4px solid <%= HtmlDesign.dim2 %>;
    background-color: <%= HtmlDesign.dim %>;
    padding: 10px;
    width: 200px;

}

.mini_tooltip_bubble .close {
    float: right;
}

.mini_tooltip_bubble .title {
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 200px;;

}

.mini_tooltip_bubble .message {
    line-height: 1.3em;
}































