<%@include file="../setup.jsp" %>
<%@page contentType="text/css" %>


#main {
}


#header {
    height: 50px;
    margin-bottom: 15px;
    background-color: #888;
    border-bottom: solid 1px <%= HtmlDesign.dim3 %>;
}


#header #logo {
    float: left;
    margin: 0 90px 0 0;
    padding: 10px 10px 0 0;
    width: 160px;
    position: relative;
    top: -5px;
}

#header #dashboard {
    float: left;
    margin-right: 40px;
}

#header #user {
    padding: 10px 5px 0 0;
    /*background-color: #8c8c80;*/
    width: 140px;
    float: left;
}

#header #user .face {
    float: left;
}

#header #user .details {
    float: left;
}

#header #user .detail {
    margin-bottom: 2px;
    position: relative;
}

#header #user #thumbnail img {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#header #user #name {
    padding: 8px;
}

#header .selected {
    padding: 5px 10px;
    background-color: #336699;
    color: #fff;
}

#left {
    width: 185px;
    float: left;
    margin-right: 50px;
}

#center {
    float: left;
}

#center #dashboard { position: relative; }
#center #canvas { }
#center #canvas_loading { display: none; }


.canvas_mini_message {
    width: 100%;
}

.canvas_mini_message .container {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
}

.canvas_mini_message .container .content {
    margin: 0 auto;
    padding: 20px;


}

.canvas_mini_message .message {
    font-size: 20px;
    font-family: adam;
    text-align: center;
    line-height: 1.5em;
}

/* Error message */
.canvas_error {
    width: 100%;
}

.canvas_error .container {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
}

.canvas_error .container .content {
    margin: 0 auto;
    border: 2px dashed white;
    padding: 20px;

}

.canvas_error .message {
    font-size: 25px;
    font-family: adam;
    text-align: center;
    line-height: 1.5em;
    color: white;
}

/* Canvas loading */
.canvas_loading img {
    display: block;
    margin: 10px auto;
}

.canvas_header {
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
    color: #888;
}


.first_note {
    width: 100%;
}

.first_note .container {
    padding: 20px;
}

.first_note .container div {
    margin-bottom: 15px;
    font-family: adam;
    text-align: center;
    line-height: 1.3em;
}































