<%@include file="../../all.jsp" %>
<%@page contentType="text/css" %>

.package {
    margin-top: -15px;
    background: white;
}


.package .breakdowns {
    padding: 20px 20px 40px 20px;
    width: 80%;
    margin: 0 auto;
}

.package .breakdowns .breakdown {
    width: 100%;
    border-bottom: 1px dashed <%= HtmlDesign.dim3 %>;
    padding: 10px 0;
    display: inline-block;
}

.package .breakdowns .breakdown .desc {
    float: left;
    width: 400px;
}

.package .breakdowns .breakdown .desc .big {
}

.package .breakdowns .breakdown .desc .small {
    margin-top: 5px;
    line-height: 1.3em;
    margin-left: 10px;
}

.package .breakdowns .breakdown .gather {
    float: right;
}

.package .breakdowns .breakdown .gather .unit {
    font-style: italic;
    position: relative;
    top: -5px;
}


.package .breakdowns .breakdown .gather .cents {
    position: relative;
    top: -10px;
}

.package .breakdowns .breakdown .timeframe {
    font-style: italic;
}

.start {
    background: white;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -10px;
}




.includes {
    background: white;
    position:relative;
    margin-top: 20px;
    padding: 20px;
}

.includes .feature-title {
    font-family: adam;
    text-align: center;
}

.includes .features {
    margin: 10px 0;
}


.includes .features .feature {
    border-bottom: 1px dashed <%= HtmlDesign.dim3 %>;
    padding: 8px 0 8px 25px;
    background: url("../img/check.png");
    background-repeat: no-repeat;
    background-position: 5px;
}

.includes .features .non-feature {
    border-bottom: 1px dashed <%= HtmlDesign.dim3 %>;
    padding: 5px 0 5px 25px;
    background: url("../img/cross.png");
    background-repeat: no-repeat;
    background-position: 5px;
    text-decoration: line-through;
}

.includes .features .highlight {
    color: <%= HtmlDesign.highlight2 %>;
    font-size: 16px;
    font-weight: bold;
}



