<%@page contentType="text/css" %>

.price-box{
    height:580px;
    width: 780px;
    display:inline-block
}


.price-box .price-left{
    position:relative;
    height:550px;
    width: 260px;
    background-color: #A3A3A3;
    float: left;
    left:10px;
    z-index:1;
}

.price-box .price-middle{
    position:relative;
    height:580px;
    width: 260px;
    background-color: #666666;
    float: left;
    top:-10px;
    z-index:3;
}

.price-box .price-right{
    position:relative;
    height:550px;
    width: 260px;
    background-color: #A3A3A3;
    float: left;
    left:-10px;
    z-index:2;
}

.middle-box-shadow {
    -webkit-box-shadow: 4px 6px 6px -6px black;
    -moz-box-shadow: 4px 6px 6px -6px black;
    box-shadow: 4px 6px 6px -6px black;
}

.left-box-shadow {
    -webkit-box-shadow: -4px 6px 6px -6px black;
    -moz-box-shadow: -4px 6px 6px -6px black;
    box-shadow: -4px 6px 6px -6px black;
}

.right-box-shadow {
    -webkit-box-shadow: 4px 6px 6px -6px black;
    -moz-box-shadow: 4px 6px 6px -6px black;
    box-shadow: 4px 6px 6px -6px black;
}

.price-box .top{
    position:relative;
    height:100px;
}
.price-box .middle{
    position:relative;
    background-color:whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    height:350px;
}
.price-box .bottom{
    position:relative;
    height:100px;
}

.price-box .price-middle .top{
    position:relative;
    height:100px;

}
.price-box .price-middle .middle{
    position:relative;
    margin-left: 5px;
    margin-right: 5px;
    height:380px;
}
.price-box .price-middle .bottom{
    position:relative;
    height:100px;
}


.price-box .top .title{
    text-align: center;
    font-size: 60px;
    color: #adff2f;
    text-shadow: 3px 3px 2px #666666;
}
.price-box .top .price{
    text-align: center;
    font-size:large;
    color: #666666;
    text-shadow: 3px 3px 3px gray;
}

.price-box .price-middle .top .title{
    text-align: center;
    font-size: 60px;
    color: #C247C2;
    text-shadow: 3px 3px 2px gray;
}
.price-box .price-middle .top .price{
    text-align: center;
    font-size:large;
    color: #A3A3A3;
    text-shadow: 3px 3px 3px gray;
}

.price-box .bottom .signup{
    margin-top:40px;
    background-color: #adff2f;
    color: #666666;
    font-size: 30px;
    text-align: center;

}

.price-box .price-middle .bottom .signup{
    margin-top:40px;
    background-color: #C247C2;
    color: #A3A3A3;
    font-size: 30px;
    text-align: center;

}