<%@include file="../../all.jsp" %>
<%@page contentType="text/css" %>

.packages {
    display:inline-block;
    margin-top: 50px;
}

.packages .package {
    position:relative;
    width: 250px;
    background-color: white;
    float: left;
}

.packages .package1 {
}

.packages .package2 {
    width: 300px;
    top:-20px;
    z-index: 3;
}

.packages .package3 {
}

.packages .top {
    position: relative;
    border-bottom: 2px solid <%= HtmlDesign.dim3 %>;
    padding: 10px 5px;
    margin: 5px;
}

.packages .middle {
    position:relative;
    margin: 0 10px;
    padding: 10px;
}

.packages .middle .feature-title {
    font-family: adam;
    text-align: center;
}

.packages .middle .features {
    margin: 10px 0;
    height: 250px;

}


.packages .middle .features .feature {
    border-bottom: 1px dashed <%= HtmlDesign.dim3 %>;
    padding: 8px 0 8px 25px;
    background: url("../img/check.png");
    background-repeat: no-repeat;
    background-position: 5px;
}

.packages .middle .features .non-feature {
    border-bottom: 1px dashed <%= HtmlDesign.dim3 %>;
    padding: 5px 0 5px 25px;
    background: url("../img/cross.png");
    background-repeat: no-repeat;
    background-position: 5px;
    text-decoration: line-through;
}

.packages .middle .features .highlight {
    color: <%= HtmlDesign.highlight2 %>;
    font-size: 16px;
    font-weight: bold;
}

.packages .bottom {
    text-align: center;
    margin: 20px 0;
}

.packages .bottom2 {
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    width: 180px;
}


.packages .package .top .title {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.packages .package .top .price {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
