<%@include file="../../../setup.jsp" %>
<%@page contentType="text/css" %>


#smart_search_criterion {
    position: relative;
    margin-bottom: 10px;
}

#smart_search_criterion .popup {
    position: absolute;
    left: 100px;
    top: 20px;
    display: none;
    z-index: 999;
}

#smart_search_criterion .header {
    display: inline-block;
    margin-bottom: 3px;
    width: 580px;
}

#smart_search_criterion .header .title { float: left; }
#smart_search_criterion .header #save_it {
    float: right;
    padding: 5px;
    background-color: <%= HtmlDesign.highlight6 %>;

}

#smart_search_criterion .criteria {
    display: inline-block;
    width: 580px;
    border-top: <%= HtmlDesign.dim3 %> solid 1px;
    padding-top: 5px;
}

#smart_search_criterion .criteria .elements { float: left; display: inline-block; width: 550px; }

#smart_search_criterion .criteria .elements .selected_options { float: right; display: inline-block; }


#smart_search_criterion .criteria .tools { float: right; }


#smart_search_criterion .question_details {
    float: left;
    display: inline-block;
}

#smart_search_criterion .question_details .edit {
    float: left;
    margin-right: 5px;
    padding: 3px 5px 3px 5px;
}

#smart_search_criterion .question_details .text {
    float: left;
    padding: 5px;
}


#smart_search_criterion .selected_option {
    float: right;
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 5px;
    background-color: <%= HtmlDesign.highlight3 %>;
}

#smart_search_criterion .text {
    float: left;
}

#smart_search_criterion .score, .network, .ref {
    display: none;
}
