<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

/* Global */
@font-face {
    font-family: 'adam';
	src:
	    url('../assets/adamwarrenpro.eot')  format('embedded-opentype'),
	    url('../assets/adamwarrenpro.ttf') format("truetype");
}

body {
    color: #222;
    font-family: <%= HtmlDesign.fontFamily %>;
    background-color: <%= HtmlDesign.backgroundColor %>;
    background-repeat: no-repeat;
    margin: 0;
}

a {
    text-decoration: none;
    color: #222;
}

input, textarea {
    outline: none;
    resize: none;
}

img {
    border-width: 0;
    border: none;
    padding: 0;
    margin: 0;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}

div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.square {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



/* --------------------------------- */
/*    Browser warning objects        */
/* --------------------------------- */
#browser_warning {
    width: 100%;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    font-size: 12px;
    padding: 10px 0 10px 0;
    text-align: center;
}




/* --------------------------------- */
/*    Javascript related objects     */
/* --------------------------------- */






/* --------------------------------- */
/*        General CSS objects        */
/* --------------------------------- */

/* Form: Horizontal */
.form-hor {
    width: 100%;
    display: inline-block;
}

.form-hor .title {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #bbb;
}

.form-hor .element {
    float: left;
    vertical-align: top;
    padding: 2px;
}

.form-hor .element .name {
    padding-bottom: 4px;
}

.form-hor .element .input {
    height: 25px;
}

.form-hor .element .example {
    font-style: italic;
}


.form-hor .element .input input {
    padding: 4px;
    font-size: 12px;
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fff;
}

.form-hor .element .field {
}

.form-hor .element .example {
}

.form-hor .element .desc {
}

.form-hor .actionable {
    float: right;
    padding: 4px 10px;
    margin: 4px;
}

.form-hor .error {
    padding: 4px 10px;
    float: right;
}

/* Inputs */
input.lg_input {
    padding: 5px;
    color: #444;
    font-size: 16px;
    margin: 0;
    border: 0;
    background: #fff;
}

input.md_input {
    padding: 2px;
    color: #444;
    font-size: 14px;
    margin: 0;
    border: 0;
    background: #fff;
}

input.sm_input {
    padding: 2px;
    color: #444;
    font-size: 12px;
    margin: 0;
    border: 0;
    background: #fff;
}

input.w400 {
    width: 400px;
}

input.w350 {
    width: 350px;
}


input.w300 {
    width: 300px;
}

input.w275 {
    width: 275px;
}

input.w250 {
    width: 250px;
}

input.w200 {
    width: 200px;
}

input.w150 {
    width: 150px;
}

input.w100 {
    width: 100px;
}

input.w75 {
    width: 75px;
}

input.w50 {
    width: 50px;
}



/*input.placeholder {*/
    /*color: #888;*/
    /*font-style: italic;*/
/*}*/

/* Buttons */
.vl_button {
    padding: 12px 24px;
    background: #444;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.lg_button {
    padding: 6px 12px;
    background: #444;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.md_button {
    padding: 4px 10px;
    background: #444;
    color: #fff;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.sm_button {
    padding: 4px 10px;
    background: #444;
    color: #fff;
    text-align: center;
}

.vsm_button {
    padding: 2px 5px;
    background: #444;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.light_button {
    background: #eee;
    color: #444;
}

.active_button {
    background: #336699;
    color: #fff;
}

.submit_button {
    background: green;
    color: #fff;
}

.pink_button {
    background: #ff5485;
    color: #fff;
}



/* Text */
.gg_header {
    font-size: 40px;
    font-weight: bolder;
}

.gg_text {
    font-size: 40px;
}

.sp_header {
    font-size: 30px;
    font-weight: bolder;
}

.sp_text {
    font-size: 30px;
}

.vl_header {
    font-size: 22px;
    font-weight: bold;
}
.vl_text {
    font-size: 22px;
}

.lg_header {
    font-size: 18px;
    font-weight: bold;
}
.lg_text {
    font-size: 18px;
}

.md_header {
    font-size: 16px;
    font-weight: bold;
}

.md_text {
    font-size: 16px;
}

.smd_header {
    font-size: 14px;
    font-weight: bold;
}

.smd_text {
    font-size: 14px;
}


.sm_header {
    font-size: 12px;
    font-weight: bold;
}

.sm_text {
    font-size: 12px;
}

.sm_title {
    font-size: 12px;
    color: green;
    font-weight: bold;
    border-bottom: 1px green solid;
    width: 100%;
}

.vsm_text {
    font-size: 10px;
}

.dim {
    color: <%= HtmlDesign.dim %>;
}

.dim2 {
    color: <%= HtmlDesign.dim2 %>;
}

.dim3 {
    color: <%= HtmlDesign.dim3 %>;
}

.highlight {
    color: <%= HtmlDesign.highlight %>;
}

.highlight2{
    color: <%= HtmlDesign.highlight2 %>;
}

.highlight3 {
    color: <%= HtmlDesign.highlight3 %>;
}

.highlight4 {
    color: <%= HtmlDesign.highlight4 %>;
}

.highlight5 {
    color: <%= HtmlDesign.highlight5 %>;
}

.highlight6 {
    color: <%= HtmlDesign.highlight6 %>;
}

.white {
    color: white;
}

/* Glows */
div.glow {
    -moz-box-shadow:    0px 0px 20px 5px <%= HtmlDesign.highlight %>;
    -webkit-box-shadow: 0px 0px 20px 5px <%= HtmlDesign.highlight %>;
    box-shadow:         0px 0px 20px 5px <%= HtmlDesign.highlight %>;

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='<%= HtmlDesign.highlight %>')";
}

div.sm_glow {
    -moz-box-shadow:    0px 0px 10px 2px <%= HtmlDesign.highlight %>;
    -webkit-box-shadow: 0px 0px 10px 2px <%= HtmlDesign.highlight %>;
    box-shadow:         0px 0px 10px 2px <%= HtmlDesign.highlight %>;
}

div.sm_glow2 {
    -moz-box-shadow:    0px 0px 10px 2px <%= HtmlDesign.highlight2 %>;
    -webkit-box-shadow: 0px 0px 10px 2px <%= HtmlDesign.highlight2 %>;
    box-shadow:         0px 0px 10px 2px <%= HtmlDesign.highlight2 %>;
}

div.glow2 {
    -moz-box-shadow:    0px 0px 20px 5px <%= HtmlDesign.highlight2 %>;
    -webkit-box-shadow: 0px 0px 20px 5px <%= HtmlDesign.highlight2 %>;
    box-shadow:         0px 0px 20px 5px <%= HtmlDesign.highlight2 %>;
}

div.glow3 {
    -moz-box-shadow:    0px 0px 20px 5px #669933;
    -webkit-box-shadow: 0px 0px 20px 5px #669933;
    box-shadow:         0px 0px 20px 5px #669933;
}

div.glow4 {
    -moz-box-shadow:    0px 0px 20px 5px #444;
    -webkit-box-shadow: 0px 0px 20px 5px #444;
    box-shadow:         0px 0px 20px 5px #444;
}

   Ê
div.lg_glow4 {
    -moz-box-shadow:    0px 0px 40px 20px #444;
    -webkit-box-shadow: 0px 0px 40px 20px #444;
    box-shadow:         0px 0px 40px 20px #444;
}

div.sm_glow6 {
    -moz-box-shadow:    0px 0px 10px 2px <%= HtmlDesign.highlight6 %>;
    -webkit-box-shadow: 0px 0px 10px 2px <%= HtmlDesign.highlight6 %>;
    box-shadow:         0px 0px 10px 2px <%= HtmlDesign.highlight6 %>;
}

div.vl_shadow {
    -moz-box-shadow:    12px 12px 30px #888;
    -webkit-box-shadow: 12px 12px 30px #888;
    box-shadow:         12px 12px 30px #888;
}

div.lg_shadow {
    -moz-box-shadow:    4px 4px 10px #888;
    -webkit-box-shadow: 4px 4px 10px #888;
    box-shadow:         4px 4px 10px #888;
}

div.shadow {
    -moz-box-shadow:    2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow:         2px 2px 6px #888;
}

div.sm_shadow {
    -moz-box-shadow:    2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow:         2px 2px 5px #888;
}



/* Containers -- THESE SHOULD HAVE NO MARGINS!! */
div.canvas_div {
    width: 600px;
}

div.canvas_container {
    padding: 5px;
    width: 587px;
    border: 1px solid #ddd;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    background-color: #fff;
}

div.two_col_container {
    padding: 5px;
    width: 380px;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    background-color: #fff;
}

div.three_col_container {
    background-color: #fff;
    width: 185px;
    padding: 5px;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
}

div.error {
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    color: #fff;
    text-align: center;
    display: none;
}

div.w800 {
    width: 800px;
}

div.w600 {
    width: 600px;
}


div.w400 {
    width: 400px;
}


div.center {
    margin-left: auto;
    margin-right: auto;
}
