<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

/* Global */
@font-face {
    font-family: 'adam';

    /* Required for IE8 */
    src: url('../assets/adamwarrenpro.eot');

    /* Required for IE9 */
	src: url('../assets/adamwarrenpro.eot')  format('embedded-opentype'),

         /* Required for all other browsers */
      	 url('../assets/adamwarrenpro.ttf') format("truetype");


}

body {
    color: #222;
    font-family: <%= HtmlDesign.fontFamily %>;
    background-color: <%= HtmlDesign.backgroundColor %>;
    background-repeat: no-repeat;
    margin: 0;
}

a {
    text-decoration: none;
    color: #222;
}

a :hover {
    text-decoration: underline;
}

a.no_deco :hover {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

input, textarea {
    outline: none;
    resize: none;
}

img {
    border-width: 0;
    border: none;
    padding: 0;
    margin: 0;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}

div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.square {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}








/* --------------------------------- */
/*        General CSS objects        */
/* --------------------------------- */

/* Form: Horizontal */
.form-hor {
    width: 100%;
    display: inline-block;
}

.form-hor .element {
    float: left;
    vertical-align: top;
    padding: 2px;
}

.form-hor .element .name {
    padding-bottom: 4px;
}

.form-hor .element .input {
    height: 25px;
}

.form-hor .element .field {
}

.form-hor .element .example {
    margin-top: 2px;
    font-style: italic;
}

.form-hor .actionable {
    float: right;
    padding: 4px 10px;
    margin: 4px;
    display: inline-block;
}

.form-hor .actionable .error {
    float: left;
    margin-right: 5px;
}

.form-hor .actionable .loading {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    display: none;
}

.form-hor .actionable .action {
    float: left;
}


/* Form: Vertical Horizontal */
.form-verhor {
    width: 100%;
}

.form-verhor .error {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.form-verhor .element {
    display: inline-block;
    width: 98%;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}

.form-verhor .element .name {
    float: left;
}

.form-verhor .element .input {
    float: right;
}

.form-verhor .element .input .field {
}

.form-verhor .element .example {
    font-style: italic;
}

.form-verhor .note {
    width: 98%;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5em;
}


.form-verhor .actionable {
    display: inline-block;
}

.form-verhor .actionable .loading {
    float: left;
    margin: 10px 5px;
    display: none;
}

.form-verhor .actionable .action {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

















/* Inputs */
input.lg_input, textarea.lg_input {
    padding: 5px;
    color: #444;
    font-size: 16px;
    margin: 0;
    border: 0;
    background: #fff;
}

input.md_input, textarea.md_input {
    padding: 2px;
    color: #444;
    font-size: 14px;
    margin: 0;
    border: 0;
    background: #fff;
}

input.sm_input, textarea.sm_input {
    padding: 2px;
    color: #444;
    font-size: 12px;
    margin: 0;
    border: 0;
    background: #fff;
}

input.bottom_line {
    border-bottom: 2px dotted <%= HtmlDesign.dim2 %>;
}


/* Buttons */
div.vl_button {
    padding: 12px 24px;
    font-size: 32px;
    text-align: center;
}

div.lg_button {
    padding: 6px 12px;
    font-size: 16px;
    text-align: center;
}

div.md_button {
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
}

div.sm_button {
    padding: 4px 10px;
    text-align: center;
}

div.vsm_button {
    padding: 2px 5px;
    text-align: center;
}

div.light_button {
    border: 1px solid <%= HtmlDesign.dim3 %>;
    color: <%= HtmlDesign.highlight2 %>;
}

div.dark_button {
    background: <%= HtmlDesign.dim %>;
    color: white;
}

div.active_button {
    border: 1px solid <%= HtmlDesign.dim3 %>;
    background: <%= HtmlDesign.highlight2 %>;
    color: #fff;
}

div.submit_button {
    background: <%= HtmlDesign.highlight %>;
    color: #fff;
}

div.pink_button {
    border: 1px solid <%= HtmlDesign.highlight6 %>;
    background: <%= HtmlDesign.highlight6 %>;
    color: #fff;
}

div.error_button {
    border: 1px solid white;
    background: <%= HtmlDesign.errorBackgroundColor %>;
    color: #fff;
}


/* Text */
.gg_header {
    font-size: 40px;
    font-weight: bolder;
}

.gg_text {
    font-size: 40px;
}

.sp_header {
    font-size: 30px;
    font-weight: bolder;
}

.sp_text {
    font-size: 30px;
}

.vl_header {
    font-size: 22px;
    font-weight: bold;
}
.vl_text {
    font-size: 22px;
}

.lg_header {
    font-size: 18px;
    font-weight: bold;
}

.lg_text {
    font-size: 18px;
}

.md_header {
    font-size: 16px;
    font-weight: bold;
}

.md_text {
    font-size: 16px;
}

.smd_header {
    font-size: 14px;
    font-weight: bold;
}

.smd_text {
    font-size: 14px;
}


.sm_header {
    font-size: 12px;
    font-weight: bold;
}

.sm_text {
    font-size: 12px;
}

.sm_title {
    font-size: 12px;
    color: green;
    font-weight: bold;
    border-bottom: 1px green solid;
    width: 100%;
}

.vsm_header {
    font-weight: bold;
    font-size: 10px;
}

.vsm_text {
    font-size: 10px;
}

.dim {
    color: <%= HtmlDesign.dim %>;
}

.dim2 {
    color: <%= HtmlDesign.dim2 %>;
}

.dim3 {
    color: <%= HtmlDesign.dim3 %>;
}

.highlight {
    color: <%= HtmlDesign.highlight %>;
}

.highlight2{
    color: <%= HtmlDesign.highlight2 %>;
}

.highlight3 {
    color: <%= HtmlDesign.highlight3 %>;
}

.highlight4 {
    color: <%= HtmlDesign.highlight4 %>;
}

.highlight5 {
    color: <%= HtmlDesign.highlight5 %>;
}

.highlight6 {
    color: <%= HtmlDesign.highlight6 %>;
}

.white {
    color: white;
}

/* Glows */
div.glow {
    -moz-box-shadow:    0px 0px 20px 5px <%= HtmlDesign.highlight %>;
    -webkit-box-shadow: 0px 0px 20px 5px <%= HtmlDesign.highlight %>;
    box-shadow:         0px 0px 20px 5px <%= HtmlDesign.highlight %>;
}

div.sm_glow {
    -moz-box-shadow:    0px 0px 10px 2px <%= HtmlDesign.highlight %>;
    -webkit-box-shadow: 0px 0px 10px 2px <%= HtmlDesign.highlight %>;
    box-shadow:         0px 0px 10px 2px <%= HtmlDesign.highlight %>;
}

div.sm_glow2 {
    -moz-box-shadow:    0px 0px 10px 2px <%= HtmlDesign.highlight2 %>;
    -webkit-box-shadow: 0px 0px 10px 2px <%= HtmlDesign.highlight2 %>;
    box-shadow:         0px 0px 10px 2px <%= HtmlDesign.highlight2 %>;
}

div.glow2 {
    -moz-box-shadow:    0px 0px 20px 5px <%= HtmlDesign.highlight2 %>;
    -webkit-box-shadow: 0px 0px 20px 5px <%= HtmlDesign.highlight2 %>;
    box-shadow:         0px 0px 20px 5px <%= HtmlDesign.highlight2 %>;
}

div.glow3 {
    -moz-box-shadow:    0px 0px 20px 5px #669933;
    -webkit-box-shadow: 0px 0px 20px 5px #669933;
    box-shadow:         0px 0px 20px 5px #669933;
}

div.glow4 {
    -moz-box-shadow:    0px 0px 20px 5px #444;
    -webkit-box-shadow: 0px 0px 20px 5px #444;
    box-shadow:         0px 0px 20px 5px #444;
}

div.sm_glow6 {
    -moz-box-shadow:    0px 0px 10px 2px <%= HtmlDesign.highlight6 %>;
    -webkit-box-shadow: 0px 0px 10px 2px <%= HtmlDesign.highlight6 %>;
    box-shadow:         0px 0px 10px 2px <%= HtmlDesign.highlight6 %>;
}

div.sm_glow7 {
    -moz-box-shadow:    0px 0px 10px 2px white;
    -webkit-box-shadow: 0px 0px 10px 2px white;
    box-shadow:         0px 0px 10px 2px white;
}

div.vl_shadow {
    -moz-box-shadow:    12px 12px 30px #888;
    -webkit-box-shadow: 12px 12px 30px #888;
    box-shadow:         12px 12px 30px #888;
}

div.lg_shadow {
    -moz-box-shadow:    4px 4px 10px #888;
    -webkit-box-shadow: 4px 4px 10px #888;
    box-shadow:         4px 4px 10px #888;
}

div.shadow {
    -moz-box-shadow:    2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow:         2px 2px 6px #888;
}

div.sm_shadow {
    -moz-box-shadow:    2px 2px 4px #888;
    -webkit-box-shadow: 2px 2px 4px #888;
    box-shadow:         2px 2px 4px #888;
}



/* Containers -- THESE SHOULD HAVE NO MARGINS!! */
div.canvas_container {
    padding: 5px;
    width: 587px;
    border: 1px solid <%= HtmlDesign.dim4 %>;
    background-color: #fff;
}

div.error {
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    color: #fff;
    text-align: center;
    padding: 5px;
    display: none;
}

div.center {
    margin-left: auto;
    margin-right: auto;
}

.w1100 {width: 1100px;}
.w1000 {width: 1000px;}
.w900 {width: 900px;}
.w850 {width: 850px;}
.w800 {width: 800px;}
.w700 {width: 700px;}
.w600 {width: 600px;}
.w500 {width: 500px;}
.w450 {width: 450px;}
.w400 {width: 400px;}
.w350 {width: 350px;}
.w300 {width: 300px;}
.w275 {width: 275px;}
.w250 {width: 250px;}
.w200 {width: 200px;}
.w175 {width: 175px;}
.w150 {width: 150px;}
.w125 {width: 125px;}
.w100 {width: 100px;}
.w75 {width: 75px;}
.w50 {width: 50px;}






#footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    display: inline-block;
    padding-top: 10px;
}

#footer .content {
    width:  400px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

