<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

#logo {
    margin: 10px auto;
    width: 160px;
    position: relative;
    top: -1000px;
}

#check {
    width: 220px;
    padding: 10px;
    background-color: <%= HtmlDesign.highlight %>;
    border: 4px solid white;
}

#check > p {
    line-height: 1.3em;
}

#forgot {
    padding: 10px;
    width: 220px;
    background-color: #fff;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
}

#form {
}

#form #error {
    padding: 5px;
}

#form .note {
    line-height: 1.3em;
}

#form #button {
    width: 140px;
    margin: 0 auto;
}

#form .text {
    padding-bottom: 4px;
}

#form .element {
    margin-bottom: 15px;
}

#email, #pass, #pass_again {
    border: 1px solid #ccc;
    margin-left: 5px;
}