<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

#logo {
    margin:  0 auto;
    width: 100px;
    position: relative; top: 20px;
}

#forgot {
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid <%= HtmlDesign.dim4 %>;
}

#form {
}

#form #error {
    padding: 5px;
}

#form .note {
    line-height: 1.3em;
}

#form #button {
    width: 140px;
    margin: 0 auto;
}

#form .text {
    padding-bottom: 4px;
}

#form .element {
    margin-bottom: 15px;
}

#email, #pass, #pass_again {
    border: 1px solid #ccc;
    margin-left: 5px;
    width: 250px;
}

#check {
    width: 300px;
    padding: 20px;
    background-color: <%= HtmlDesign.highlight %>;
    border: 1px solid <%= HtmlDesign.dim4 %>;
    display: none;
}

#check > p {
    line-height: 1.3em;
}