<%@include file="../../../all.jsp" %>
<%@page contentType="text/css" %>

/* Profile Dashboard */
#profile_dashboard {
    background-color: #fff;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    padding: 5px;
    position: relative;
    display: inline-block;
    width: 587px;
}

#profile_dashboard .left {
    float: left;
}

#profile_dashboard .left .thumbnail {
    float: left;
    width: 160px;
    height: 160px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    background-color: #fff;
}

#profile_dashboard .left .thumbnail img {
    width: 160px;
    height: 160px;
}

#profile_dashboard .right {
    float: right;
    margin-left: 5px;
    width: 405px;
    height: 160px;
}

#profile_dashboard .right .top {
    height: 135px;
}

#profile_dashboard .right .top .title {
    margin-bottom: 5px;
}

#profile_dashboard .right .top .points {
    padding: 3px;
    background-color: #8C8C80;
    float: right;
}



#profile_dashboard .right .top .comment {
    margin-bottom: 5px;
}

#profile_dashboard .right .shortcuts {
    display: inline-block;
    float: right;
}

#profile_dashboard .right .shortcuts .shortcut {
    float: right;
    border: 1px solid #ccc;
    padding: 2px 7px;
    margin-left: 5px;
    display: inline-block;
}

#profile_dashboard .right .shortcuts .shortcut .text {
    float: left;
    padding: 3px;
}


#profile_dashboard .right .shortcuts .shortcut .count {
    background-color: <%= HtmlDesign.dim2 %>;
    padding: 3px 5px;
    float: left;
    position: relative;
    top: 1px;
    left: 3px;
}

#profile_dashboard .right .shortcuts .selected {
    background-color: #336699;
    color: white;
}











/* Profile */
#profile_answer_keys {
}

#profile_answer_keys .container {
    display: inline-block;
}

#profile_answer_keys span.title {
    float: left;
    margin-right: 5px;
}

#profile_answer_keys .key {
    width: 20px;
    height: 15px;
    float: left;
    border: 1px solid #bbb;
    margin: 0 5px 0 10px;
}

#profile_answer_keys .type {
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 3px 5px 3px 5px;
    float: left;
}



.profile_answers {
    margin-bottom: 5px;
}

.profile_answers .network {
    margin: 5px;
    background-color: #669933;
    padding: 5px;
    display: inline-block;
    color: #fff;
}

.profile_answers .answer {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 560px;
}

.profile_answers .answer .question {
    width: 225px;
    float: left;
}

.profile_answers .answer .in_common {
    background-color: #d6fccf;
}


.profile_answers .answer .question .text {
    padding-bottom: 5px;
}

.profile_answers .answer .question .qualities {
    margin-top: 5px;
    display: inline-block;
}

.profile_answers .answer .question .qualities .date {
    float: left;
    padding-right: 2px;
}

.profile_answers .answer .question .qualities .visibility {
    float: left;
    padding-right: 4px;
}


.profile_answers .answer .options {
    display: inline-block;
    width: 270px;
    padding-left: 10px;
    float: left;
}

.profile_answers .answer .options .option {
    float: left;
    padding: 4px;
    background: #888;
    color: white;
    margin: 0 5px 5px 0;
}

.profile_answers .details {
    float: right;
    width: 50px;
}

.profile_answers .details .again {
    float: right;
    padding: 4px 5px;
    text-align: center;
}










/* Access - to create a new user link from a user's profile */

.access {
    position: relative;
    width: 577px;
    padding: 10px;
}

.access .error {
    margin: 5px;
    padding: 10px;
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    color: white;
}

.access .message {
    margin-top: 10px;
    text-align: center
}

.access .connect {
    width: 300px;
    margin: 10px auto;
    text-align: center
}

.access .requires {
    width: 300px;
    margin: 10px auto;
    text-align: center
}

.access .more_points {
    background-color: <%= HtmlDesign.errorBackgroundColor %>;
    color: white;
}


