<%@include file="../../../all.jsp" %>
<%@page contentType="text/css" %>

/* Network Dashboard */
#network_dashboard {
    width: 500px;
    position: relative;
    display: inline-block;
}

#network_dashboard #points {
    float: right;
    padding: 5px;
    margin-top: 5px;
    position: relative;
}

#network_dashboard #award {
    background-color: <%= HtmlDesign.highlight3 %>;
    border-bottom: 2px solid <%= HtmlDesign.highlight %>;
    border-right: 2px solid <%= HtmlDesign.highlight %>;
    padding: 10px;
    position: absolute;
    width: 200px;
    top: 50px;
    left: -220px;
    display: none;
    z-index: 100;
}

#search_space {
    float: left;
    position: relative;
    left: 100px;
    top: 15px;
}

#search_space .icon {
    position: relative;
    top: 2px;
    left: -2px;
    width: 16px;
    height: 16px;
}

#search_toolbar {
    display: inline-block;
    position: relative;
}


#search_toolbar #view_all {
    position: absolute;
    left: 4px;
    top: 4px;
    border: 1px solid #336699;
    padding: 3px 5px;
}

#search_toolbar .selected {
    background: #336699;
    color: white;
}

#search_input {
    width: 310px;
    background-color: #fff;
    float: left;
    padding: 5px;
}

#search_input img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: 295px;
}



#search_result {
    padding: 5px;
}

#search_result .search_message {
    padding: 10px;
    width: 70%;
    margin: auto;
    text-align: center;
}

#search_result .search_note {
    padding: 10px;
    width: 85%;
    margin: auto;
    line-height: 25px;
}

#search_result .search_group {
    padding: 4px;
    background-color: #444;
    margin-bottom: 5px;
}


#search_result .search_network {
    padding: 4px;
    float: right;
}

#search_result .search_question {
    padding: 4px;
    border-bottom: 1px dotted #bbb;
}

#search_result .search_found {
    font-weight: bolder;
}

#search_result .search_sep {
    height: 15px;
}






