<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

#main {
    margin: auto;
    width: 800px;
}

/* Header */
#header {
    float: left;
    margin-top: 10px;
}

#header #default_logo {
    background-color: white;
    padding: 5px 10px 0 10px;
}

#start {
    width: 820px;
    padding-top: 10px;
    margin: auto;
    display: inline-block;
}

#start > #right {
    float: right;
    width: 300px;
}

#start > #left {
    float: left;
    width: 500px;
}

#start > #left > #welcome {
    margin-bottom: 20px;
    width: 480px;
    padding: 10px;
    line-height: 1.5em;
}




