<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

#main {
    margin: auto;
    width: 800px;
}

/* Header */
#header {
    float: left;
    background-color: white;
    padding: 5px 10px 0 10px;
    margin-top: 10px;
    display: inline-block;
}

#network_path {
    position: relative;
    top: -10px;
}

#container {
    width: 800px;
    padding-top: 10px;
    margin: auto;
    display: inline-block;

}

#content {
    float: left;
    width: 520px;
    margin-right: 20px;
}

#messages {
    display: inline-block;
    width: 520px;
}

#messages #welcome {
    float: left;
    margin-bottom: 5px;
    display: inline-block;
    width: 500px;
    padding: 10px;
}

#messages #welcome div {
    background-color: #fff;
    float: left;
    padding: 5px;
    margin: 1px;
}

#manifesto_title {
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    width: 510px;
}

#manifesto {
    width: 510px;
    display: none;
    margin-top: 5px;
}

#messages #system {
    float: left;
    padding: 15px 20px 15px 20px;
    line-height: 20px;
    background-color: rgba(225,206,0,0.5);
    margin-bottom: 10px;
    color: black;
}

#video {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

#confirm {
    display: block;
    float: right;
    padding: 10px;
    width: 222px;
    background-color: <%= HtmlDesign.highlight %>;
    border: 4px solid white;
}

p.note, {
    line-height: 1.3em;
}

#action {
    position: relative;
    display: inline-block;
}

#start {
    display: block; 
    float: right;
    padding: 10px;
    width: 228px;
    background-color: #fff;
    border-bottom: 2px solid #bbb;
    border-right: 2px solid #bbb;
    top: -1000px;
    position: relative;
}

#form {
}

#form #error {
    padding: 5px;
}

#form .note {
    line-height: 18px;
}

#form #button {
    width: 80px;
}

#form .text {
    padding-bottom: 4px;
}

#form .element {
    margin-bottom: 15px;
}

#forgot-begin {
    display: block;
    text-align: center;
}

#email, #first, #last, #pass {
    border: 1px solid #ccc;
    margin-left: 5px;
}