<%@include file="../../../setup.jsp" %>
<%@page contentType="text/css" %>

#left {
    width: 185px;
    float: left;
    margin-right: 15px;
}

/* List of networks the user is in */
#networks {
}

#networks .help {
    position: absolute;
}

#networks .help-rel {
    position: relative;
    left: -30px;
    top: -5px;
}

#networks .networks {
    border: 1px solid #669933;
    border-right: 3px solid #669933;
    background-color: #fff;
    padding: 4px;
}

#networks .networks .switch {
    position: relative;
    top: -13px;
    background-color: #fff;
    border-top: 1px solid #a7cd77;
    border-right: 1px solid #a7cd77;
    padding: 10px 5px 2px 5px;
    width: 130px;
    text-align: center;
    margin: 0 auto;
}

#networks .item {
    padding: 3px 2px;
    margin: 2px;
    cursor: hand;
}

#networks .item .contents {
    display: inline-block;
}

#networks .item .contents .name {
    float: left;
    padding: 3px 0 0 10px;
}

#networks .item .contents .icon {
    float: left;
    width: 16px;
    height: 16px;
    padding: 3px 0 1px 5px;
}

#networks .item .contents .icon img {
    width: 16px;
    height: 16px;
}

#networks .item .tags {
    float: right;
    margin-right: 5px;
    padding-top: 3px;
    position: relative;
    z-index: 1;
}

#networks .item .tags .bullet {
    position: relative;
    top: 3px;
}

#networks .item .tags .blocked {
    position: absolute;
    margin-right: 5px;
    left: -40px;
    z-index: 2;
}

#networks .selected {
    background-color: <%= HtmlDesign.highlight3 %>;
    color: #fff;
}






/* Displays the current networks of the user*/
#currently {
    border: 1px solid #bbb;
    border-right: 3px solid #bbb;
    background-color: #fff;
    padding: 4px;
    margin-bottom: 15px;
    position: relative;
}

#currently .help {
    position: absolute;
}

#currently .help-rel {
    position: relative;
    left: -30px;
    /*top: -2px;*/
}

#currently .shortcut {
    padding: 2px;
    margin: 2px 0;
}

#currently .shortcut .contents {
    display: inline-block;
}

#currently .shortcut .contents .name {
    float: left;
    padding: 3px 0 0 10px;
}

#currently .shortcut .contents .icon {
    float: left;
    width: 16px;
    height: 16px;
    padding: 3px 0 1px 5px;
}

#currently .shortcut .bullet {
    float: right;
    margin-right: 5px;
    padding-top: 3px;
}








#currently .shortcut .contents .icon img {
    width: 16px;
    height: 16px;
}


#currently .selected {
    background-color: <%= HtmlDesign.dim2 %>;
    color: white;
}











