<%@include file="../all.jsp" %>
<%@page contentType="text/css" %>

body {
    background-image : url(../../d/assets/background.jpg);
}

#logo {
    margin: 10px auto;
    width: 160px;
}

.legal {
    padding: 20px;
    width: 800px;
    background-color: white;
    border-right: 2px solid <%= HtmlDesign.dim3 %>;
    border-bottom: 2px solid <%= HtmlDesign.dim3 %>;
}